@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

#my{
zoom: 80%;
}

html,
body {
    background-color: #f9fcf7;
    color: #3d3734;
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-align: center;
    text-transform: none;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #007fff
}

a {
    color: #007fff;
}

header img {
	width: 40%;
}

languages img {
	width: 20%;
}

.boxes {
    border-radius: 50px;
    background-color: #ebedea;
    margin: 25px auto;
    padding: 25px 0;
}

h1 {
    font-size: 175%;
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}
