* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

#my{
zoom: 80%;
}

html,
body {
    background-color: black;
    color: #00ADEF;
    width: 100%;
    height: auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-align: center;
    text-transform: none;
}

header img {
	width: 40%;
}

languages img {
	width: 20%;
}

.boxes {
    border-radius: 50px;
    background-color: White;
    margin: 25px auto;
    padding: 25px 0;
}

h1 {
    font-size: 175%;
}
