html {
	background:black;
	color:white;
	font-family:Courier New, monospace;
	font-size:18px;
}
h1 {font-size:150%;}
h2 {font-size:140%;}
code {background-color:lightgreen;color:black;}
a {text-decoration:underline;color:blue;}
a:hover {text-decoration:none;color:red;}
a:visited {color:purple;}
a:active {color:yellow;}
